#wrapper {
    text-align: center;
    position:relative;
}

#text_canvas {
    position:absolute;
    left: 0px;
    top: 0px;
    z-index: 5;
}

#bbox_canvas {
    text-align: center;
    position:absolute;
    left: 15%;
    /* margin: auto; */
    /* left: 0px; */
    /* top: 0px; */
    z-index: 10;
    /* background-image: url("file:///C:\\Users\\ellyc\\OneDrive\\Desktop\\DATA451\\electron-demos\\my-app-demo\\public\\photos\\M12_2_Apr19_3.jpg") */
    
}

#temp_legend {
    position:absolute;
    top:650px;
}

#rest {
    position:relative;
    top:600px;
}